Documents/CGI Generative AI Up-Skilling Program  Cohort Training Section 1.pptx
W1_DevInContainer/Uploaded_Files/taxi_zone_lookup.csv
W1_DevInContainer/Uploaded_Files
Documents
W3_Text2Sql/RE__AI-Upskilling_Cohort_3_Training_Meet-up/~$lti_Docker_AskData.docx
W3_Text2Sql/RE__AI-Upskilling_Cohort_3_Training_Meet-up/backend_Dockerfile
W3_Text2Sql/RE__AI-Upskilling_Cohort_3_Training_Meet-up/docker-compose.yml
W3_Text2Sql/RE__AI-Upskilling_Cohort_3_Training_Meet-up/front_Dockerfile
.gitignore
W3_Text2Sql/RE__AI-Upskilling_Cohort_3_Training_Meet-up/Multi_Docker_AskData.docx
